
.container-fluid-md {
    height: 100%;
    overflow-y: hidden;
    color: aqua;
    margin: auto;
}

.borderImage{
    border-radius:9999px;
}

li.list-group-item {
    border: none !important;
}

.linkFormat {
    text-decoration: none;
    color: rebeccapurple;
}

div.row p-4 border bg-light {
    max-height: 100%
}

ul.list-group list-group-flush {
    max-height: 100%
}