

.borderImage{
    border-radius:9999px;
}

.Paid {
    background-color:greenyellow;
}

.group-item {
    background-color: aqua !important;
}

.linkFormat {
    text-decoration: none;
    color: black;
    border: none;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .sticky_bar {
        position: fixed;
        width: 3rem;
        z-index: -1;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .sticky_bar {
        position: fixed;
        width: 15rem;
        z-index: -1;
    }
}
