

.borderImage{
    border-radius:9999px;
}

.Paid {
    background-color:greenyellow;
}

.group-item {
    background-color: aqua !important;
}

.linkFormat {
    text-decoration: none;
    color: black;
    border: none;
}
