.container{
    height: 100%;
    background-color: #212121;
    color: white;
    font-size: 12px;
    padding: 39px 115px 0;
    width: 100%;
}

.contain{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px 20px;
}

.left p{
    width: 23rem;
    margin-top: 10px;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 10rem;
}

.right p{
    cursor: pointer;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons img{
    cursor: pointer;
}

.contact p{
    margin-bottom: 10px;
}

.contact i{
    font-size: 15px;
    margin-right: 5px;
}

.container hr{
    color: white;
}