.container {
    position: relative;
    height: 550px;
}

.shopBtn {
    border-radius: 5px;
    border: 0px;
    height: 40px;
    width: 125px;
    background: white;
}

.textContainer {
    color: white;
    position: absolute;
    z-index: 2;
    left: 40%;
    max-width: 700px;
}

.textContainer h1 {
    font-size: 70px;
    font-weight: bold;
    max-width: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .textContainer {
        top: 30px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .textContainer {
        top: 70px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .textContainer {
        top: 100px;
    }
}